@{
    ViewBag.Title = "Register3";
    Layout = null;
    <link rel="stylesheet" type="text/css" href="~/Content/IndexStyles.css">
}



@using (Html.BeginForm("Register3", "SinhVien_63135741", FormMethod.Post))
{
    <div class="container">
        <div class="header">
            <h2>THONG TIN SINH VIEN</h2>
        </div>
        <div class="content">
            <label for="Id">Ma sinh vien:</label>
            <input type="text" name="Id" /> <br />

            <label for="Name">Ho va ten:</label>
            <input type="text" name="Name" /> <br />

            <label for="Marks">Diem:</label>
            <input type="text" name="Marks" /> <br />

            <input id="btn_submit" type="submit" value="Dang ky" class="btn btn-default" />
        </div>
    </div>
}






