@model KT0720_NguyenHuyToan_63135741.Models.SinhVien

@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <h2>THÔNG TIN SINH VIÊN</h2>
    <table cellpadding="0" cellspacing="0" style="font-size:15px; margin-left:50px;">
        <tr>
            <td>
                <table cellpadding="2" cellspacing="10">
                    <tr>
                        <td>Mã sinh viên:</td>
                        <td>63135741</td>
                    </tr>
                    <tr>
                        <td>Họ tên:</td>
                        <td>NGUYỄN HUY TOÀN</td>
                    </tr>
                    <tr>
                        <td>Lớp:</td>
                        <td>63.CNTT-1</td>
                    </tr>
                    <tr>
                        <td>Ngày kiểm tra:</td>
                        <td>@DateTime.Now</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

<style>
    h2 {
        color: #333;
    }

    p {
        color: #555;
        margin: 10px 0;
    }
</style>